.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 90%;
    background-color: #F1B507;
    padding: 3em;
    border-radius: 15px;
}

.about img{
    margin-right: 100px;
    height: 500px;
    border-radius: 100%;
    transform: scaleX(-1);
}

.about .download-button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #111111;
    color: #F1B507;
    cursor: pointer;
}

@media only screen and (max-width: 900px){
    .about{
        height: 60vh;
        padding: 3em;
        flex-direction: column;
        justify-content: space-around;
    }
    .about img{
        margin-right: 20px;
        margin-bottom: 40px;
        height: 200px;
    }
}

@media only screen and (max-width: 600px){
    .about{
        padding: 1.3em;
    }

    .about img{
        display: none;
    }
}