.cardIcon{
    display: flex;
    background-color: #111111;
    width: 25%;
    color: #2e2e2e;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    transition: .3s;
}

.cardIcon:hover{
    color: #F1B507;
}

.cardIcon h3{
    margin-top: 1em;
    font-size: 1em;
}

.cardIcon svg{
    font-size: 4em;
}

@media only screen and (max-width: 700px){
    .cardIcon{
        width: 30%;
    }
    
    .cardIcon svg{
        font-size: 3em;
    }
}