.skills{
    min-height: 100vh;
    width: 90%;
    background-color: #F1B507;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    border-radius: 0 0 15px 15px;
}

.skills h2{
    margin-bottom: 1em;
}