html{
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
    width: 5px;
}
html ::-webkit-scrollbar-thumb {
    background: #F1B507;
}
html ::-webkit-scrollbar-track {
    background-color: #111111;
}

.App{
    width: 100%;
    overflow-x: hidden;
}